html {
    background-color: #272a2d;
    scroll-behavior: smooth;
}

a:link,a:visited {
    color: #EBF0F5;
    text-decoration: none;
}

a:hover,a:active {
    text-decoration: underline;
    text-decoration-color:#EBF0F5;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.5px;
}

h1 {
    color: #EBF0F5;
    text-align: center;
}

h2 {
    color: #272a2d;
    font-family: 'Amatic SC', cursive;
    font-size: auto;
    text-align: left;
}

button {
    background-color: #EBF0F5;
    color: #272a2d;
    height: auto;
    width: 10%;
}

/* */

nav {
    align-items: center;
    color: #EBF0F5;
    display: flex;
    font-family: 'M PLUS Code Latin', monospace;
    font-size: 3vh;
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    font-display: swap;
    height: 15vh;
    justify-content: space-around;
}

.desktop-ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

#mobile-nav {
    display: none;
}

.mobile-hamburger {
    display: inline-flex;
    position: relative;
}

.hamburger-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 24px;
}

.hamburger-logo span {
    background-color: #EBF0F5;
    height: 1px;
    width: 100%;
}

.hamburger-ul {
    background-color: #272a2d;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 100%;
    width: fit-content;
}

.hamburger-ul.open {
    max-height:300px;
}